.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #343840;
}

.search-form {
  margin-bottom: 30px;
}

.search-input {
  width: 80%;
  margin-right: 20px;
}

.group-label {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 15px;
  width: 100%;
}
